*{
    font-family: monospace;
    font-size: 30px;
    font-weight: 700;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    display: flex;
    background-color: #202020;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


div{
    display: grid;
    grid-template-columns: repeat(4, 60px);

}

input{
    font-size: 35px;
    grid-column: span 4;
    text-align: right;
    padding: 0 10px;
    height: 100px;
    outline: none;
    border: none;
}

#clearr{
    background-color: #e313d4;
}

#clearr:active{
    background-color: #a9089f;
}


button{
    border: none;
    height: 60px;
}


button:active{
    background-color: #0ed22d;
}

#equal{
    grid-column: span 2;
    background-color: #2ab0e5;
}

#equal:active{
    background-color: #04678e;
}
